@import '../../styles/mixins.scss';

.navigationBanner {

    @include flex(flex, row, wrap, space-between, center);
    color: #fff;
    padding-top: 20px;
    
    .linksWrapper {
        @include flex(flex, row, wrap, center, center);
    }

    .navLink {
        margin: 0 20px;
    }

}